Package: wp360-webvisu
Version: 1.0.0
Architecture: all
Maintainer: Nicola Orlando <nicolaorlando24@gmail.com>
Depends: systemd, chromium, sway
Installed-Size: 1
Description: Package containing various system configuration for automatic CODESYS web visualization on the device display.
