Package: wp360-sys-mods
Version: 1.0.0
Architecture: all
Maintainer: Nicola Orlando <nicolaorlando24@gmail.com>
Depends: bash
Installed-Size: 1
Description: Miscellaneous system modifications for the WP360 PLC.
