Package: wp360-serial-map
Version: 1.0.0
Architecture: all
Maintainer: Nicola Orlando <nicolaorlando24@gmail.com>
Depends: bash
Installed-Size: 1
Description: udev rules to remap serial ports for consistency between cm4 and cm5 units
