Package: wp360-rescue
Version: 1.0.0
Architecture: all
Maintainer: Nicola Orlando <nicolaorlando24@gmail.com>
Depends: bash
Installed-Size: 1
Description: Package containing a rescue script for backing up and reimaging the device.
